//font 
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-secondary-light: #c0ad89;
$color-secondary-dark: #ad9b7a;
$color-white: #ffe;
$color-white-2: #8c8c7e91;

//font weight
$font-weight-bold:bold;
$font-weight-light:100;

//font size
$font-small:2.5rem;
$font-big:4rem;

//cells
$cell-height:7.5rem;